@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #00f0ff;
  --secondary: #7000ff;
  --accent: #ff0055;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}